body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  line-height: 1.2;
}

#title {
  background-color: #ff4c68;
}

#title .container-fluid {
  padding: 3% 15% 3%;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand,
.nav-link {
  font-family: "Ubuntu", sans-serif;
}

.navbar-brand {
  font-weight: 500;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 100;
}

/* Title */
.title-content {
  padding-bottom: 10%;
}

.box-image {
  position: relative;
}

.position-img {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 25%;
}

@media (max-width: 1028px) {
  .position-img {
    transform: none;
    position: static;
  }

  .title-content {
    text-align: center;
  }

  .title-content button {
    margin-bottom: 3rem;
  }
}

/* Features */
.icon-features {
  color: #ef8172;
  font-size: 4rem;
}

#features {
  background-color: white;
  position: relative;
  z-index: 1;
}

.heading-features {
  font-size: 1.5rem;
  font-weight: bold;
}

.paragraf-features {
  color: #8f8f8f;
}

.icon-features:hover {
  color: #ff4c68;
  transition: 250ms ease-in-out;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  padding: 12% 0;
}

#testimonials h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
  padding: 0 20%;
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
}

#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
}

#carouselExampleControls {
  margin: auto 12%;
}

/* Pricing */

.pricing-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.pricing-heading h2 {
  margin-bottom: 1rem;
  color: #ff4c68;
}

#pricing h2 {
  font-size: 3rem;
  font-weight: 800;
}

#pricing h3 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

#cta h3 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 4rem;
  line-height: 1.5;
}

/* Footer */

.footer-icon {
  color: black;
  font-size: 2rem;
  margin: 0 1.5rem 3rem;
}

.footer-icon:hover {
  color: #ef8172;
  transition: 250ms ease-in-out;
}

#footer p {
  font-weight: 500;
  color: #8f8f8f;
}
